#checkout {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    height: max-content;
    min-height: 100vh;
}

#checkoutLeft {
  flex-grow: 20;
  padding-left: 5rem;
}

#checkoutRight {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
}

#checkoutTitle {
    margin-right: 10px;
    font-size: 2rem;
    padding: 10px;
    border-bottom: 0.1rem solid lightgray;
    width: 100%;
}

#subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: rgb(240, 243, 243);
    border: 1px solid #dddddd;
    font-size: 1.3rem;
    border-radius: 3px;
    font-weight: 400;
  }
  
  #subtotal > button {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }


#checkoutStock {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#checkoutStockCompany {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#checkoutStockTicker {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}


#checkoutStockInfo > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  margin-left: 0.5rem;
  cursor: pointer;
}

#checkoutStockImage {
  object-fit: contain;
  width: 180px;
  height: 180px;
  margin-right: 2rem;
}

#checkoutStockPrice {
  font-size: 20px;
  margin-bottom: 0.4rem;
}