#stock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 30px;
    padding: 20px;
    width: 250px;
    height: 350px;
    background-color: white;
    z-index: 1;
}

#stock > img {
    margin: 5px;
    min-height: 60%;
}

#stock > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

#companyName {
    margin-top: 8px;
    font-size: 18px;
}

#ticker {
    font-size: 35px;
    margin-top: 5px;
}

#price {
    font-size: 28px;
    margin-bottom: 10px;
}